<%- include ('./base/header.ejs') %>

<div class="container my-3">
  <div class="alert bg-warning">
    <h4 class="text-center">All Issues</h4>
  </div>
</div>

<div class="container">
  <table class="table text-center">
    <thead>
      <tr>
        <th>Name</th>
        <th>Description</th>
        <th>Author</th>
        <th>Edit</th>
        <th>Delete</th>
      </tr>
    </thead>

    <tbody>
      <% if (issues) { %> <% for(var i=0; i< issues.length; i++){ %>
      <tr>
        <td><%= issues[i].name %></td>
        <td><%= issues[i].description %></td>
        <td><%= issues[i].author %></td>

        <td>
          <a href="/edit/<%= issues[i]._id %>" class="btn btn-warning w-75"
            >Edit</a
          >
        </td>

        <td>
          <form action="/delete/<%= issues[i]._id %>" method="get">
            <input type="submit" value="Delete" class="btn btn-danger" />
          </form>
        </td>
      </tr>
      <% } %> <% } %>
    </tbody>
  </table>
</div>

<%- include ('./base/footer.ejs') %>
